body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: hsl(0, 100%, 74%) url(../images/bg-intro-desktop.png);
}
/* Container Section */
.container {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px;
  grid-gap: 30px;
  justify-content: center;
  margin-top: 100px;
}
.container__intro {
  grid-column: 2;
  grid-row: 1 /3;
  align-self: center;
  color: #ffffff;
  width: 90%;
  font-weight: 400;
}
.container__intro__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
}
/* Try for free Section */
.container__try-free {
  background: hsl(248, 32%, 49%);
  grid-column: 3;
}
/* Form Section */
.container__form {
  background: #ffffff;
  grid-column: 3;
  height: 400px; /* Only temp for grid layout*/
}
/* Attribution section */
.attribution {
  margin-top: 100px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
